.TextArea {
	$this: &;

	@include relative;
	@include size(100% auto);
	@include min-size(null 35px);
	@include overflow(hidden);
	display: inline-block;
	background-color: _color(ui-1);
	border-radius: 6px;

	&-component {
		@include padding(26px null null null);
		@include min-size(null 80px);
		@include max-size(null 200px);
		width: 100%!important;
		border: none;
		resize: vertical;
		background-color: transparent;
		color: _color(brand-5);
	}

	&-label {
		@include absolute(0 null null 0);
		@include size(100% auto);
	}

	&-labelNode {
		@include absolute(5px null null 0);
		@include padding(10px 5px);
		pointer-events: none;
		font-weight: _font('weight.medium');
		color: _color(preset);
		transition: all 0.15s ease;
	}

	&-component:focus + &-label > &-labelNode,
	&-component:valid + &-label > &-labelNode {
		@include font-responsive(_font('xs.mobile')...);
		transform: translateY(-28%);
		color: _color(ui-10);
	}
}
