$colors: (
	none: transparent,
	preset: #000000,
	brand-1: #5D2DCF,
	brand-2: #2C0F74,
	brand-3: #1F0A54,
	brand-4: #FF352B,
	brand-5: #4D21B9,
	ui-0: #ACA3C2,
	ui-1: #FFFFFF,
	ui-2: #EDEDE3,
	ui-3: #D3D2CB,
	ui-4: #00BCD4,
	ui-5: #29A9E6,
	ui-6: #20F542,
	ui-7: #89C63D,
	ui-8: #F7F5F4,
	ui-9: #F7F5FD,
	ui-10: #8E8E8E,
);
